@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    -webkit-tap-highlight-color: transparent;
}

.hb-menu {
    width: 35px;
    height: 4px;
    margin: 6px 0;
    transition: 0.3s;
}

.change-1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 4px);
    transform: rotate(-45deg) translate(-7px, 4px);
}

.change-2 {
    opacity: 0;
}

.change-3 {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}

.menuMobile {
    transition: .5s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply inline-block px-3 py-2 rounded-md focus:outline-none focus:ring focus:ring-offset-2 transition tracking-wider font-semibold text-sm sm:text-base;
    }

    .btn-primary {
        @apply bg-primary hover:bg-primary-light focus:ring-primary focus:ring-opacity-50 active:bg-primary-dark text-white;
    }

    .btn-secondary {
        @apply bg-gray-600 hover:bg-gray-500 focus:ring-gray-600 focus:ring-opacity-50 active:bg-gray-700 text-white
    }

    .btn-success {
        @apply bg-green-600 hover:bg-green-500 focus:ring-green-600 focus:ring-opacity-50 active:bg-green-700 text-white
    }

    .btn-warning {
        @apply bg-yellow-400 hover:bg-yellow-300 focus:ring-yellow-400 focus:ring-opacity-50 active:bg-yellow-500 text-gray-700
    }

    .btn-danger {
        @apply bg-red-600 hover:bg-red-500 focus:ring-red-600 focus:ring-opacity-50 active:bg-red-700 text-white
    }

    .btn-hero {

    }

    .navbar {
        @apply bg-gray-800 bg-opacity-70 absolute top-0 w-full sm:max-w-full px-4 py-2 lg:py-0 flex justify-between lg:justify-around z-20;
    }

    .brand {
        @apply lg:ml-5;
    }

    .menuList {
        @apply hidden lg:block;
    }

    .menuMobile {
        @apply z-30;
    }

    .menuList .menu-nav-lg {
        @apply mx-auto hidden lg:inline-flex;
    }

    .hbButton {
        @apply lg:hidden;
    }

    .search-input {
        @apply text-sm w-0 rounded-lg focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-2 focus:ring-gray-600 tracking-wider transform transition mr-3;
    }

    .search-btn {
        @apply bg-gray-800 hover:bg-gray-600 pt-2 px-2 rounded-md transition;
    }

    .navbarMenu {
        @apply lg:hidden sm:max-w-full absolute h-auto top-0 w-4/5 bg-gray-800;
    }

    .navMenu {
        @apply bg-gray-800 cursor-pointer transition z-10;
    }

    .nav-link {
        @apply inline-block hover:bg-gray-600 pl-6 py-3 w-full lg:px-4 lg:py-3;
    }

    .dropdown-link {
        @apply inline-block hover:bg-gray-600 pl-9 py-3 w-full
    }

    .drop-link-lg {
        @apply px-3 py-2 hover:bg-gray-600 block;
    }

    .drop-link-short-lg {
        @apply pl-3 pr-16 py-2 hover:bg-gray-600 block;
    }

    .collapse {
        @apply h-0 opacity-0;
    }

    .expand {
        @apply h-full opacity-100;
    }

    .expanded {
        @apply h-auto opacity-100;
    }

    .big-hero {
        @apply w-full bg-gray-400 z-10;
    }

    .big-hero .swiper-slide {
        @apply flex justify-start items-center;
    }

    .big-hero .img-hero {
        @apply w-full object-cover object-center h-80;
    }

    .big-hero .swiper-button-prev, .big-hero .swiper-button-next {
        @apply text-white;
    }

    .hero-bg-section {
        @apply bg-gray-700 bg-opacity-60 w-full h-full absolute flex items-center;
    }

    .hero-section {
        @apply ml-5 lg:ml-24 mt-16 lg:mt-0;
    }

    .hero-section .hero-title {
        @apply text-xl lg:text-5xl ml-8 lg:ml-0 font-bold text-white;
    }

    .hero-section .detail-hero {
        @apply text-white font-semibold ml-8 lg:ml-0 text-base lg:text-xl;
    }

    .hero-section .hero-desc {
        @apply text-white w-0 h-0 md:ml-8 lg:ml-0 md:w-3/4 lg:w-2/4 md:h-auto invisible md:visible lg:text-base text-justify my-2;
    }

    .hero-button {
        @apply ml-8 lg:ml-0;
    }

    .sambutan {
        @apply w-3/4 md:w-5/6 xl:w-3/4 h-auto bg-gray-300 md:flex rounded-lg shadow-2xl mx-auto my-8;
    }

    .sambutan-container-left {
        @apply xl:w-auto flex justify-center md:block;
    }

    .sambutan-img {
        @apply w-32 md:w-full xl:w-max object-center object-cover mt-5 md:mt-0 p-0 md:pr-10 rounded-lg lg:rounded-tr-none lg:rounded-br-none;
    }

    .sambutan-title {
        @apply text-primary-dark text-center md:text-left text-xl font-semibold lg:text-3xl py-5;
    }

    .sambutan-desc {
        @apply text-sm lg:text-base mx-5 md:mx-0 md:mr-8 xl:mr-10 pb-5 text-justify text-gray-800;
    }
}

@layer utilities {
    @variants responsive{
        .img-hero-lg {
            height: 580px !important;
        }

        .swiper-pagination > .swiper-pagination-bullet {
            background: rgb(31, 41, 55);
            opacity: 1;
        }

        .swiper-pagination > .swiper-pagination-bullet-active {
            background: white !important;
        }

        .swiper-button-next, .swiper-button-prev {
            background-image: none;
        }

        .swiper-button-next::after, .swiper-button-prev::after {
            display: none;
        }

        .hero-arrow, .author-icon, .date-post-icon {
            top:2px;
            transition:0.3s;
        }

        .w-380 {
            width: 208px;
        }
    }
}