@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

.hb-menu {
    width: 35px;
    height: 4px;
    margin: 6px 0;
    transition: 0.3s;
}

.change-1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 4px);
    transform: rotate(-45deg) translate(-7px, 4px);
}

.change-2 {
    opacity: 0;
}

.change-3 {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}

.menuMobile {
    transition: .5s;
}

.active-open {
    background-color: white;
    color: #0099ff;
}

nav.sticky {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, 1);
    box-shadow: 0 5px 5px rgba(31, 35, 46, 0.3);
}

nav.dark.sticky {
    background-color: #111827;
}

nav.sticky h2 {
    color: rgb(31, 35, 46);
}

nav.sticky.dark h2, nav.sticky.dark a {
    color: white;
}

.layanan-link {
    background-image: url('../../img/verval-ponsel.png');
    background-size: contain;
}

.gallery-img-wrapper {
    width: 240px !important;
}

.gallery-img {
    width: 100% !important;
    height: 95% !important;
    object-fit: cover;
}

.footer-separator {
    display: none;
}

.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: #0099ff;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 99;
}

.scrollTop.show {
    visibility: visible;
    opacity: 1;
}

.scrollTop i {
    font-size: 1rem;
    color: white;
}

.toggleTheme {
    width: 48px;
    height: 24px;
    display: block;
    position: relative;
    border-radius: 24px;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                inset 0 2px 8px rgba(0, 0, 0, 0.1)
                inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}

.toggleTheme.activated {
    background-color: #222;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1)
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

.toggleTheme .toggle-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(0.9);
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5),
                inset 0 1px 1px rgba(255, 255, 255, 0.2),
                inset 0 -1px 1px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

.toggleTheme.activated .toggle-indicator {
    left: 24px;
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5),
                inset 0 1px 1px rgba(255, 255, 255, 0.2),
                inset 0 -1px 1px rgba(255, 255, 255, 0.2);
}

.darkMode, .lightMode {
    position: absolute;
    left: 4px;
    transition: 0.5s;
    opacity: 0;
}

.lightMode {
    color: goldenrod;
}

.showDark, .showLight {
    opacity: 1;
}

@media(min-width:1024px) {
    nav.sticky {
        padding-top: 12px;
        padding-bottom: 12px;
        --tw-bg-opacity: 1;
        background-color: rgba(209, 213, 219, 1);
        box-shadow: 0 5px 5px rgba(31, 35, 46, 0.3);
    }
    
    nav.sticky .dropdown-lg, nav.sticky .drop-1-lg {
        background-color: rgba(209, 213, 219, 1);
    }
    
    nav.sticky a, nav.sticky h2 {
        color: rgb(31, 35, 46);
    }
    
    nav.sticky .brand {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    
    nav.sticky .img-brand {
        width: 32px;
    }
}

@media(max-width: 991px) {
    .footer-wrapper {
        display: block !important;
        margin-left: 32px;
        margin-right: 32px
    }

    .footer-separator {
        background-color: #707070;
        display: block;
        height: 3px;
        color: transparent !important;
        opacity: 0.7;
        margin: 20px 0;
    }

    .langganan-input {
        width: 100%;
    }

    .bottom-footer {
        margin-top: 32px;
    }

}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .bg-body {
        @apply bg-gray-300 transition duration-300;
    }

    .bg-body.dark {
        @apply bg-gray-800;
    }

    .btn {
        @apply inline-block px-3 py-2 rounded-md focus:outline-none focus:ring focus:ring-offset-2 transition tracking-wider font-semibold text-sm sm:text-base;
    }

    .btn-primary {
        @apply bg-primary hover:bg-primary-light focus:ring-primary focus:ring-opacity-50 active:bg-primary-dark text-white;
    }

    .btn-secondary {
        @apply bg-gray-600 hover:bg-gray-500 focus:ring-gray-600 focus:ring-opacity-50 active:bg-gray-700 text-white
    }

    .btn-success {
        @apply bg-green-600 hover:bg-green-500 focus:ring-green-600 focus:ring-opacity-50 active:bg-green-700 text-white
    }

    .btn-warning {
        @apply bg-yellow-400 hover:bg-yellow-300 focus:ring-yellow-400 focus:ring-opacity-50 active:bg-yellow-500 text-gray-700
    }

    .btn-danger {
        @apply bg-red-600 hover:bg-red-500 focus:ring-red-600 focus:ring-opacity-50 active:bg-red-700 text-white
    }

    .btn-disabled {
        @apply bg-gray-400 text-gray-700 hover:bg-gray-400;
    }

    .navbar {
        @apply bg-gray-700 bg-opacity-0 absolute w-full sm:max-w-full px-4 py-2 lg:py-8 flex justify-between lg:justify-around z-20;
    }

    .brand {
        @apply lg:text-2xl font-semibold lg:ml-5;
    }

    .img-brand {
        @apply w-12;
    }

    .menuList {
        @apply hidden lg:flex items-center;
    }

    .menuMobile {
        @apply z-30 bg-gray-300;
    }

    .menuList .menu-nav-lg {
        @apply mx-auto hidden lg:inline-flex;
    }

    .menuListMobile {
        @apply transition duration-300
    }

    .menuListMobile .nav-link {
        @apply py-2 px-8;
    }

    .hbButton {
        @apply lg:hidden;
    }

    .search-input {
        @apply text-sm w-0 rounded-lg focus:outline-none focus:ring focus:ring-opacity-50 focus:ring-offset-2 focus:ring-gray-600 tracking-wider transform transition mr-3;
    }

    .search-btn {
        @apply bg-gray-200 hover:bg-gray-100 pt-1 pb-1 px-3 rounded-md transition;
    }

    .menuMobile.dark .search-btn {
        @apply bg-gray-700 hover:bg-gray-600;
    }

    .search-icon {
        @apply text-gray-800 text-xl font-medium;
    }

    .menuMobile.dark .search-icon {
        @apply text-white;
    }

    .navbarMenu {
        @apply lg:hidden sm:max-w-full absolute h-auto top-0 w-4/5;
    }

    .menuMobile.dark.navbarMenu {
        @apply bg-gray-800;
    }

    .brand-mobile-title {
        @apply text-center mt-4 text-gray-800 font-semibold text-xl;
    }

    .menuMobile.dark .brand-mobile-title {
        @apply text-white;
    }

    .navMenu {
        @apply cursor-pointer transition duration-300 z-10;
    }

    .nav-link {
        @apply inline-block text-white font-semibold hover:text-primary transition w-full lg:px-4 ;
    }

    .menuListMobile .nav-link {
        @apply text-gray-800 hover:text-primary transition duration-300;
    }

    .menuMobile.dark .menuListMobile .nav-link {
        @apply text-white hover:text-primary;
    }

    .menuMobile.dark .menuListMobile .nav-link.active-open, .menuMobile.dark .menuListMobile .dropdown-1.active-open {
        @apply text-gray-800 hover:text-primary;
    }

    .dropdown-lg, .drop-1-lg {
        @apply bg-gray-700;
    }

    .navbar.dark .dropdown-lg, .navbar.dark .drop-1-lg {
        @apply bg-gray-900;
    }

    .navbar.dark .nav-link, .navbar.dark .drop-link-lg,  .navbar.dark .dropdown-link-lg, .navbar.dark .drop-link-lg-1 {
        @apply hover:text-primary-light;
    }

    .dropdown-link {
        @apply inline-block hover:text-primary transition pl-10 py-3 w-full
    }

    .menuMobile.dark .dropdown-link {
        @apply text-white hover:text-primary;
    }

    .menuListMobile .drop-link-mobile-1 {
        @apply inline-block hover:text-primary transition pl-14 py-3 w-full
    }

    .drop-link-lg {
        @apply px-3 py-2 hover:text-primary transition block;
    }

    .dropdown-link, .drop-link-lg, .drop-link-lg-1, .dropdown-link-lg, .drop-link-mobile-1 {
        @apply font-semibold;
    }

    .dropdown-link, .drop-link-mobile-1 {
        @apply text-gray-800;
    }

    .menuMobile.dark .drop-link-mobile-1 {
        @apply text-white hover:text-primary;
    }

    .drop-link-short-lg {
        @apply pl-3 pr-8 py-2 hover:text-primary transition block w-max;
    }

    .collapse {
        @apply h-0 opacity-0;
    }

    .expand {
        @apply h-full opacity-100;
    }

    .expanded {
        @apply h-auto opacity-100;
    }

    .big-hero {
        @apply w-full bg-gray-400 z-10;
    }

    .big-hero .swiper-slide {
        @apply flex justify-center items-center;
    }

    .big-hero .img-hero {
        @apply w-full object-cover object-center h-80;
    }

    .big-hero .swiper-button-prev, .big-hero .swiper-button-next {
        @apply text-white;
    }

    .hero-bg-section {
        @apply bg-gray-800 bg-opacity-70 w-full h-full absolute flex items-center;
    }

    .hero-section {
        @apply mx-auto;
    }

    .hero-section .hero-title {
        @apply text-xl lg:text-4xl lg:ml-0 font-medium my-2 text-center text-white;
    }

    .hero-section .detail-hero {
        @apply text-white font-semibold lg:ml-0 text-base lg:text-xl;
    }

    .hero-section .hero-desc {
        @apply text-white w-0 h-0 lg:ml-0 md:w-3/4 lg:w-2/4 md:h-auto invisible md:visible lg:text-base text-justify my-2;
    }

    .hero-button {
        @apply ml-8 lg:ml-0;
    }

    .slider-nav-button {
        @apply h-8 w-8 transform transition;
    }

    .bi-chevron-left, .bi-chevron-right {
        @apply text-xl lg:text-4xl;
    }

    .sambutan {
        @apply w-3/4 md:w-5/6 xl:w-3/4 h-auto bg-gray-200 md:flex rounded-lg shadow-2xl mx-auto my-8 transition duration-300;
    }

    .sambutan.dark {
        @apply bg-gray-700;
    }

    .sambutan-container-left {
        @apply xl:w-auto flex justify-center md:block;
    }

    .sambutan-img {
        @apply max-w-xs w-32 md:w-48 xl:w-48 object-center object-cover mt-5 md:mt-0 p-0 md:pr-10 rounded-lg lg:rounded-tr-none lg:rounded-br-none;
    }

    .sambutan-title {
        @apply text-primary-dark text-center md:text-left text-xl font-semibold lg:text-3xl py-5 transition duration-300;
    }

    .sambutan.dark .sambutan-title {
        @apply text-primary-light;
    }

    .sambutan-desc {
        @apply text-sm lg:text-base mx-5 md:mx-0 md:mr-8 xl:mr-10 pb-5 text-justify text-gray-800 transition duration-300;
    }

    .sambutan.dark .sambutan-desc {
        @apply text-white;
    }

    .wrapper {
        @apply w-11/12 mx-auto lg:flex lg:justify-between;
    }

    .wrapper-content {
        @apply w-full lg:w-8/12 lg:mr-5;
    }

    .berita-terbaru-container, .post-kategori-container {
        @apply lg:w-full;
    }

    .berita-terbaru-header, .post-kategori-header {
        @apply w-full block bg-primary rounded-lg mb-4;
    }

    .berita-terbaru-title, .post-kategori-title {
        @apply text-xl lg:text-2xl text-white font-semibold mx-2 p-2;
    }

    .b-wrap-1 {
        @apply lg:mt-2 lg:pt-2;
    }

    .b-wrap-2 {
        @apply pb-4 lg:pb-4;
    }

    .berita-terbaru {
        @apply block mb-5;
    }

    .card {
        @apply bg-gray-200 hover:shadow-xl transition rounded-lg sm:flex my-4 transition duration-300;
    }

    .card.dark {
        @apply bg-gray-700;
    }

    .card-title {
        @apply flex align-middle justify-center;
    }

    .berita-img {
        @apply object-cover w-full sm:w-96 object-center p-5;
    }

    .card-content {
        @apply mx-5 sm:mx-0 sm:mr-5 pb-5 sm:pt-5 md:py-0 md:my-5;
    }

    .berita-title {
        @apply text-xl text-primary-dark font-semibold transition duration-300;
    }

    .card.dark .berita-title {
        @apply text-primary-light;
    }

    .berita-sub {
        @apply text-gray-600 text-xs transition duration-300;
    }

    .card.dark .berita-sub {
        @apply text-gray-300;
    }

    .berita-desc {
        @apply text-sm text-justify transition duration-300;
    }

    .card.dark .berita-desc {
        @apply text-white;
    }

    .sidebar {
        @apply lg:w-4/12 lg:ml-5 rounded-lg;
    }

    .side-card {
        @apply shadow-lg rounded-lg bg-gray-200 transition duration-300;
    }

    .side-card.dark {
        @apply bg-gray-700;
    }

    .side-card-header {
        @apply bg-primary rounded-t-lg w-full;
    }

    .side-card-title {
        @apply text-white text-lg md:text-2xl font-semibold mx-3 p-2;
    }

    .side-card-content {
        @apply m-4 overflow-hidden h-auto;
    }

    .popular-side-link {
        @apply block mb-5;
    }

    .popular-post-img {
        @apply w-2/5;
    }

    .popular-post-content {
        @apply w-3/5 pl-4;
    }

    .popular-post-title {
        @apply text-gray-700 text-base lg:text-lg font-semibold transition duration-300;
    }

    .side-card.dark .popular-post-title {
        @apply text-gray-200;
    }

    .popular-post-sub {
        @apply text-sm text-gray-500 transition duration-300 transition duration-300;
    }

    .side-card.dark .popular-post-sub {
        @apply text-gray-300;
    }

    hr.popular-post {
        @apply bg-gray-500 opacity-50;
    }

    .month.dark {
        @apply bg-gray-700;
    }

    .layanan-1, .layanan-2 {
        @apply flex justify-around mt-3 mb-6 mx-4;
    }

    .layanan-link {
        @apply w-28 h-28 sm:w-40 sm:h-40 md:w-48 md:h-48 lg:w-40 lg:h-40 inline-block mx-2;
    }

    .layanan-dimmer {
        @apply bg-gray-800 bg-opacity-70 relative w-28 h-28 sm:w-40 sm:h-40 md:w-48 md:h-48 lg:w-40 lg:h-40 flex justify-center items-center;
    }

    .layanan-title {
        @apply text-white font-medium text-lg text-center break-words;
    }

    .gallery-wrapper {
        @apply bg-gray-200 transition duration-300;
    }

    .gallery-wrapper.dark {
        @apply bg-gray-700;
    }

    .gallery-container {
        @apply w-11/12 mx-auto;
    }

    .gallery-header {
        @apply w-full flex justify-center py-5 lg:py-8;
    }

    .gallery-title {
        @apply font-semibold text-xl md:text-3xl transition duration-300;
    }

    .gallery-wrapper.dark .gallery-title {
        @apply text-white;
    }

    .gallery-content {
        @apply overflow-hidden pb-10;
    }

    .gallery-wrapper-section {
        @apply relative;
    }

    .footer {
        @apply block bg-gray-300 transition duration-300;
    }

    .footer.dark {
        @apply bg-gray-800;
    }

    .footer-wrapper {
        @apply flex justify-around pt-10;
    }

    .brand-footer {
        @apply text-gray-800 font-semibold text-2xl block my-auto transition duration-300;
    }

    .footer.dark .brand-footer {
        @apply text-white;
    }

    .address {
        @apply text-gray-800 transition duration-300;
    }

    .footer.dark .address {
        @apply text-white;
    }

    .partner-title, .langganan, .address-title {
        @apply text-gray-800 text-lg font-semibold transition duration-300;
    }
    
    .footer.dark .partner-title, .footer.dark .langganan, .footer.dark .address-title {
        @apply text-white;
    }

    .partner-list {
        @apply text-gray-800 hover:translate-x-2 transform transition duration-300 my-2;
    }

    .footer.dark .partner-list {
        @apply text-white;
    }

    .langganan-form {
        @apply mt-4;
    }

    .langganan-input {
        @apply py-1 pl-2 rounded-lg outline-none focus:ring focus:ring-offset-2 focus:ring-primary transition duration-200;
    }

    .button-form-wrapper {
        @apply mt-4;
    }

    .bottom-footer {
        @apply bg-gray-400 mt-8 transition duration-300;
    }

    .footer.dark .bottom-footer {
        @apply bg-gray-900;
    }

    .bottom-footer-content {
        @apply w-11/12 lg:flex justify-between mx-auto py-4;
    }

    .copyright {
        @apply text-gray-800 font-medium text-center block lg:inline transition duration-300;
    }

    .footer.dark .copyright {
        @apply text-white;
    }

}

@layer utilities {
    @variants responsive{

        nav.navbar, .img-brand, .brand {
            transition: 0.5s;
        }

        .img-hero-lg {
            height: 580px !important;
        }

        .swiper-pagination > .swiper-pagination-bullet {
            background: rgb(31, 41, 55);
            opacity: 1;
        }

        .swiper-pagination > .swiper-pagination-bullet-active {
            background: white !important;
        }

        .swiper-button-next::after, .swiper-button-prev::after {
            display: none;
        }

        .hero-arrow, .author-icon, .date-post-icon {
            top:2px;
            transition:0.3s;
        }

        .w-380 {
            width: 208px;
        }

        hr.popular-post {
            height: 2px;
        }

        .side-card-content {
            padding: 0 !important;
        }

        .popular-post {
            display: flex !important;
        }

        h2.popular-post-title {
            transition: 0.3s
        }

        .popular-side-link:hover h2.popular-post-title {
            color: #0099ff;
        }

        .layanan-title {
            transition: 0.4s
        }

        .layanan-link:hover .layanan-title {
            font-size: 1.25rem;
        }

        .logo-footer {
            width: 44px;
            margin-right: 1rem;
        }

        .month.dark span {
            color: white;
        }

        .month.dark .head .cell {
            color: #00ccff;
        }
    }
}