#insta {
    color: #1F2937;
    transition: 0.2s;
}

.page-card.dark #insta {
    color: #fff;
    transition: 0.2s;
}

#insta:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.comment {
    display: grid;
    grid-template-columns: 75px auto;
}

.user-img-comment {
    width: 75px;
    padding: 12px
}

.flipped {
    position: relative;
    top: 7px;
    display: inline-block;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.replying-comment {
    display: none;
}

@tailwind components;
@tailwind utilities;

@layer components {

    .sejarah {
        @apply relative my-8;
    }

    .page-hero-section {
        @apply h-page-hero lg:h-page-hero-lg md:h-page-hero-md sm:h-page-hero-sm transition duration-300;
    }

    .page-hero {
        @apply bg-gray-700 bg-opacity-70;
    }

    .page-hero-title {
        @apply text-xl sm:text-2xl md:text-4xl lg:text-5xl font-semibold text-white text-center transition duration-300;
    }

    .page-card {
        @apply bg-gray-200 w-full rounded-lg transition duration-300;
    }

    .page-card-title {
        @apply w-full p-5;
    }

    .page-card-content {
        @apply w-full pl-5 pr-7 pb-5;
    }

    .page-title {
        @apply text-xl md:text-2xl lg:text-3xl font-semibold text-primary mb-1;
    }

    .page-sub {
        @apply text-gray-600 text-sm md:text-base mb-3 transition duration-300;
    }

    .page-desc {
        @apply text-base sm:text-lg text-gray-800 text-justify transition duration-300;
    }

    .img-page-desc {
        @apply py-3 mx-auto w-full sm:w-10/12 md:w-8/12 lg:w-3/4;
    }

    .img-page-wrapper {
        @apply text-center my-5;
    }

    .img-sub {
        @apply text-gray-600 italic text-base;
    }

    .page-card-footer {
        @apply w-full p-5;
    }

    .share-wrapper {
        @apply w-max sm:flex justify-center items-center mx-auto;
    }

    .share-label {
        @apply text-gray-800 text-lg mr-3;
    }

    .btn-share {
        @apply text-3xl;
    }

    .btn-share-fb {
        @apply text-gray-800 hover:text-blue-700 transition duration-200;
    }

    .btn-share-tw {
        @apply text-gray-800 hover:text-blue-500 transition duration-200;
    }

    .btn-share-link {
        @apply text-gray-800 hover:text-primary transition duration-200;
    }

    .tag-wrapper {
        @apply w-max mt-4 sm:flex justify-center items-center mx-auto;
    }

    .tag-label {
        @apply text-center text-gray-800 text-lg mr-3;
    }

    .tag-btn-wrapper {
        @apply flex justify-center;
    }

    .tag-link {
        @apply text-sm bg-gray-800 text-white mx-1 py-1 px-2 rounded-lg hover:bg-primary-dark transition duration-300;
    }

    .comments {
        @apply my-5
    }

    .comment-title {
        @apply flex justify-start;
    }

    .comment-count {
        @apply text-lg ml-1 text-gray-600;
    }

    .comment {
        @apply w-auto bg-gray-300 rounded-lg mb-5 transition duration-200;
    }

    .comment.comment-1 {
        @apply my-5 ml-10;
    }

    .user-comment {
        @apply py-3 pl-1 pr-5
    }

    .user-img-comment {
        @apply rounded-full
    }

    .username-comment {
        @apply text-xl text-gray-800 font-semibold transition duration-200;
    }

    .comment-date {
        @apply text-sm text-gray-500 transition duration-200;
    }

    .comment-desc {
        @apply text-gray-800 text-base text-justify mt-3 transition duration-200;
    }

    .btn-reply-comment {
        @apply text-gray-800 mt-3 block relative mr-0 ml-auto transition duration-200;
    }

    .comment-form-title {
        @apply flex justify-start items-center;
    }

    .form-comment-icon {
        @apply ml-1;
    }

    .form-comment-icon .bi-pencil-square {
        @apply text-lg md:text-xl lg:text-2xl transition duration-200;
    }

    .comment-input, .contact-input {
        @apply mb-5;
    }

    .input-form-comment, .comment-area, .input-form-contact, .contact-area, .input-form-search {
        @apply w-full rounded-md focus:ring focus:outline-none focus:ring-offset-2 focus:ring-primary transition duration-300 mt-2 p-2;
    }

    .input-form-search {
        @apply mt-0 mb-4 lg:my-4 w-full focus:ring-gray-300 p-1;
    }

    .search-box {
        @apply absolute top-2/4 right-40 bg-gray-300 dark:bg-gray-800 rounded-md transition duration-300;
    }

    .search-not-found {
        @apply text-center my-12 text-gray-700 dark:text-gray-300;
    }

    .comment-area, .contact-area {
        @apply box-border h-28 lg:h-44;
    }

    .comment-label {
        @apply transition duration-200;
    }

    .form-comment-btn, .form-contact-btn {
        @apply flex justify-end;
    }

    .btn-comment, .btn-contact {
        @apply bg-primary-dark text-white hover:bg-primary transition duration-300;
    }

    .replying-comment {
        @apply bg-gray-300 rounded-lg p-3 mb-5 transition duration-200;
    }

    .footer.single-page {
        @apply bg-gray-200
    }

    .bottom-footer.single-page {
        @apply bg-gray-400 mt-8 transition duration-300;
    }

    .pagination-wrapper {
        @apply  w-full flex justify-center;
    }

    .btn-pagination-container {
        @apply block mt-3 mb-8;
    }

    .btn-pagination {
        @apply inline-block w-9;
    }

    .btn.btn-page-active {
        @apply bg-primary;
    }

    .footer.dark .bottom-footer.single-page {
        @apply bg-gray-900;
    }

    .page-card.dark {
        @apply bg-gray-700;
    }

    .page-card.dark .page-sub {
        @apply text-gray-300
    }

    .page-card.dark .page-desc {
        @apply text-gray-200
    }

    .page-card.dark .share-label {
        @apply text-white;
    }

    .page-card.dark .btn-share-fb {
        @apply text-white hover:text-blue-700 transition duration-200;
    }

    .page-card.dark .btn-share-tw {
        @apply text-white hover:text-blue-500 transition duration-200;
    }

    .page-card.dark .btn-share-link {
        @apply text-white hover:text-primary transition duration-200;
    }

    .page-card.dark .tag-label {
        @apply text-center text-gray-200 text-lg mr-3;
    }

    .page-card.dark .tag-link {
        @apply text-sm bg-gray-200 text-gray-800 mx-1 py-1 px-2 rounded-lg hover:bg-primary-dark hover:text-white transition duration-300;
    }

    .page-card.dark .comment {
        @apply bg-gray-600;
    }

    .page-card.dark .username-comment, .page-card.dark .comment-desc, .page-card.dark .btn-reply-comment, .page-card.dark .comment-count {
        @apply text-gray-200;
    }

    .page-card.dark .comment-date {
        @apply text-gray-300;
    }

    .page-card.dark .replying-comment {
        @apply bg-gray-600;
    }

    .page-card.dark .form-comment-icon, .page-card.dark .reply-sub, .page-card.dark .comment-label {
        @apply text-white;
    }

    .alert {
        @apply border px-4 py-3 rounded relative;
    }

    .alert-success {
        @apply bg-green-200 border-green-400 text-green-700;
    }

    .alert-warning {
        @apply bg-yellow-200 border-yellow-400 text-yellow-700;
    }

    .alert-danger {
        @apply bg-red-200 border-red-400 text-red-700;
    }

    .alert-secondary {
        @apply bg-gray-200 border-gray-400 text-gray-700;
    }

    .alert-close-success {
        @apply fill-current h-6 w-6 text-green-500;
    }
    .alert-close-warning {
        @apply fill-current h-6 w-6 text-yellow-500;
    }
    .alert-close-danger {
        @apply fill-current h-6 w-6 text-red-500;
    }
    .alert-close-secondary {
        @apply fill-current h-6 w-6 text-gray-500;
    }

    .album-thumbnail {
        @apply rounded-lg mx-3 bg-gray-300 dark:bg-gray-700 pb-4 hover:shadow-md transition;
    }

    .album-title {
        @apply text-xl ml-5 text-gray-800 font-semibold dark:text-gray-300 transition;
    }

    .footer.dark.single-page {
        @apply bg-gray-700;
    }

}

@layer utilities {

    @variants responsive{

        .h-page-hero-lg {
            height: 580px;
            overflow: hidden;
        }
        
        .h-page-hero-md {
            height: 480px;
            overflow: hidden;
        }
        
        .h-page-hero-sm {
            height: 360px;
            overflow: hidden;
        }

        .h-page-hero {
            height: 240px;
            overflow: hidden;
        }

        .h-inherit {
            height: inherit;
        }

    }
}